body {
	font: 100%/1.5 system-ui;
	max-width: 100ch;
	padding: 50px;
	margin: 0;
}

img {
	width: 400px;
}

nav {
	text-align: center;
	padding: 1rem;
	background-color: #eee;
  }
nav a {
	margin: 0 10px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
  }
nav a:hover {
	color: #007BFF;
  }

nav .current{
	border-bottom-width: 10px;
	border-bottom-style: solid;
}